In [21]:
# 导入模块
import json
import os
import pandas as pd
from tqdm import tqdm
from munch import Munch

# MovieNet

## 制作scene_annotation.pkl

In [7]:
anno_root = '/data/shared_dataset/MovieNet/annotations/annotation'

In [13]:
# 获取当前目录下的所有json文件名
json_files = [f for f in os.listdir(anno_root) if f.endswith('.json')]
# 创建一个空的DataFrame，用来存储json文件的数据
df = pd.DataFrame()
# 遍历每个json文件
for file in tqdm(json_files):
  # 读取json文件为一个字典
  with open(os.path.join(anno_root,file), 'r', encoding='utf-8') as f:
    data = json.load(f)
  # 检查scene字段是否为空
  if data['scene']:
    # 如果不为空，把文件名和scene字段添加到DataFrame中
    df = df.append({'file': file, 'scene': data['scene']}, ignore_index=True)

100%|██████████| 8918/8918 [00:16<00:00, 555.19it/s]

In [15]:
df

               file                                              scene
0    tt0079417.json  [{'id': 'tt0079417_0000', 'shot': [0, 1], 'fra...
1    tt1068680.json  [{'id': 'tt1068680_0000', 'shot': [0, 1], 'fra...
2    tt1409024.json  [{'id': 'tt1409024_0000', 'shot': [0, 1], 'fra...
3    tt0082971.json  [{'id': 'tt0082971_0000', 'shot': [0, 1], 'fra...
4    tt1411238.json  [{'id': 'tt1411238_0000', 'shot': [0, 1], 'fra...
..              ...                                                ...
343  tt0123755.json  [{'id': 'tt0123755_0000', 'shot': [0, 1], 'fra...
344  tt0209144.json  [{'id': 'tt0209144_0000', 'shot': [0, 1], 'fra...
345  tt0167260.json  [{'id': 'tt0167260_0000', 'shot': [0, 1], 'fra...
346  tt0049730.json  [{'id': 'tt0049730_0000', 'shot': [0, 1], 'fra...
347  tt1013753.json  [{'id': 'tt1013753_0000', 'shot': [0, 1], 'fra...

[348 rows x 2 columns]

In [22]:
scene_pickle = {}

for row in df.itertuples():
    vid = row.file[:-5]
    cache = []
    for scene in row.scene:
        del scene['id']
        del scene['action_tag']
        cache.append(Munch(scene))
    scene_pickle[vid] = cache

In [ ]:
pd.to_pickle(scene_pickle, 'data/MovieNet/scene_annotation.pkl')

## 制作shot_annotation.pkl

In [54]:
shot_root = '/data/shared_dataset/MovieNet/annotations/shot'

In [56]:
# 创建一个空字典
shot_pickle = {}

# 遍历当前目录下的所有txt文件
import os
for file in tqdm(os.listdir(shot_root)):
    if file.endswith(".txt"):
        # 用不带后缀的文件名作为键
        key = file[:-4]
        # 打开文件并读取所有行
        with open(os.path.join(shot_root,file), "r") as f:
            lines = f.readlines()
        # 创建一个空列表
        value = []
        # 遍历每一行
        for line in lines:
            # 将每一行分割成整数列表
            nums = [int(x) for x in line.split()]
            # 取前两个整数并添加到列表中
            value.append(nums[:2])
        # 将键值对添加到字典中
        shot_pickle[key] = value

100%|██████████| 1100/1100 [00:02<00:00, 382.32it/s]

In [ ]:
pd.to_pickle(shot_pickle, 'data/MovieNet/shot_annotation.pkl')

## 制作label_dict.pkl

In [42]:
shot_root = '/data/shared_dataset/MovieNet/annotations/shot'

In [44]:
import os
import glob

# 镜头数量
shot_num = {}

for fn in glob.glob(os.path.join(shot_root, '*.txt')):
    with open(fn) as f:
        shot_num[os.path.basename(fn).split('.')[0]] = sum(1 for line in f if line.strip())

print(shot_num)

{'tt0086250': 1560, 'tt0217869': 389, 'tt0265666': 833, 'tt5580036': 1452, 'tt1392190': 2585, 'tt4176826': 1635, 'tt0363589': 116, 'tt0209958': 1595, 'tt1292566': 1851, 'tt3960412': 2015, 'tt0350258': 1935, 'tt0068935': 936, 'tt0079945': 1445, 'tt0142342': 1566, 'tt2409818': 635, 'tt1371111': 3109, 'tt0250797': 1655, 'tt2053463': 934, 'tt0316654': 2087, 'tt0469494': 660, 'tt2980516': 1372, 'tt0944835': 1964, 'tt0115956': 1684, 'tt1255953': 478, 'tt0272152': 1437, 'tt3766394': 1288, 'tt0082971': 1489, 'tt3319920': 835, 'tt2884018': 897, 'tt2800240': 1772, 'tt0053221': 969, 'tt4781612': 1165, 'tt0117509': 1923, 'tt0116922': 1212, 'tt0119174': 1819, 'tt0103064': 2778, 'tt0373469': 1660, 'tt3553442': 1461, 'tt0098258': 876, 'tt1188729': 2439, 'tt1971325': 1425, 'tt1731141': 2007, 'tt0103855': 2151, 'tt2132285': 598, 'tt0103776': 1779, 'tt0120912': 1442, 'tt1220634': 1413, 'tt0083866': 1192, 'tt1131729': 2540, 'tt0294870': 1405, 'tt1324999': 2010, 'tt0116209': 1759, 'tt0383574': 2600, 'tt0104257': 1488, 'tt0125439': 1462, 'tt0094964': 903, 'tt3464902': 479, 'tt0387898': 258, 'tt3312830': 1229, 'tt2713180': 1845, 'tt0206634': 444, 'tt1524137': 2218, 'tt0207201': 1818, 'tt0119116': 2363, 'tt5564148': 699, 'tt0253754': 2043, 'tt0425210': 1468, 'tt0178868': 665, 'tt1065073': 2057, 'tt0067140': 1245, 'tt0091763': 1474, 'tt0443680': 1030, 'tt0824747': 1739, 'tt0309698': 1496, 'tt0094291': 832, 'tt1229238': 2335, 'tt1510906': 1203, 'tt3478232': 1610, 'tt0800080': 2257, 'tt0369441': 1398, 'tt0278504': 2424, 'tt1840309': 2516, 'tt0414387': 1079, 'tt1722484': 1423, 'tt0414055': 1185, 'tt1104001': 1878, 'tt0318627': 1798, 'tt0454841': 1686, 'tt0183523': 901, 'tt2140373': 1758, 'tt0460791': 1792, 'tt0144117': 1330, 'tt3700392': 1600, 'tt0114369': 1610, 'tt0054167': 662, 'tt0455824': 2532, 'tt0084549': 378, 'tt0395699': 1716, 'tt1403865': 1532, 'tt0914798': 731, 'tt5827496': 1599, 'tt0074686': 726, 'tt0086969': 825, 'tt0084899': 833, 'tt5576318': 1567, 'tt1038919': 2013, 'tt0107290': 1328, 'tt0244353': 2643, 'tt5649144': 690, 'tt0115964': 765, 'tt5593416': 1180, 'tt2978462': 2044, 'tt1210166': 1533, 'tt4824302': 1592, 'tt1462900': 1854, 'tt2310332': 2932, 'tt0083658': 1381, 'tt1540133': 1137, 'tt0374546': 875, 'tt0416508': 1449, 'tt0167260': 4043, 'tt7672188': 1415, 'tt0243876': 1436, 'tt0064115': 1011, 'tt0452625': 1395, 'tt0120755': 2776, 'tt0116477': 2165, 'tt0387564': 1911, 'tt0064665': 1271, 'tt0405159': 1481, 'tt0092099': 1875, 'tt0119008': 1473, 'tt0114367': 1564, 'tt0081505': 682, 'tt0970179': 1979, 'tt1284575': 1881, 'tt0164052': 1557, 'tt0113870': 862, 'tt0117571': 1463, 'tt0113253': 1184, 'tt1007029': 1287, 'tt2017561': 1125, 'tt0057115': 1208, 'tt0116213': 2346, 'tt0079672': 798, 'tt0790636': 1219, 'tt0101272': 1604, 'tt0120737': 3902, 'tt0240772': 1182, 'tt1483013': 1910, 'tt0878804': 2014, 'tt0073195': 1244, 'tt0268978': 1577, 'tt1072748': 1544, 'tt1034314': 1443, 'tt0128445': 848, 'tt3531578': 1260, 'tt0435705': 1678, 'tt1233381': 251, 'tt0100234': 380, 'tt0072443': 144, 'tt0117731': 1430, 'tt0477348': 1326, 'tt4151192': 1918, 'tt1193138': 1608, 'tt0032138': 672, 'tt0093779': 1449, 'tt2717822': 1516, 'tt2011351': 405, 'tt1637725': 1939, 'tt0298228': 1005, 'tt1220719': 1371, 'tt0103241': 1009, 'tt0335119': 798, 'tt1877832': 3052, 'tt0116367': 2039, 'tt0290334': 2564, 'tt0103786': 1306, 'tt0083929': 1181, 'tt0098724': 591, 'tt0370263': 2232, 'tt0120863': 1210, 'tt0106582': 1601, 'tt4520364': 1460, 'tt0091406': 194, 'tt1560747': 565, 'tt0098635': 713, 'tt0048028': 667, 'tt0449088': 2972, 'tt0114814': 1131, 'tt0073486': 1575, 'tt0093209': 811, 'tt2402927': 631, 'tt0101393': 1756, 'tt1564367': 1929, 'tt0433035': 2237, 'tt0268126': 1458, 'tt2258281': 105, 'tt0101921': 1133, 'tt0118845': 659, 'tt0087469': 1885, 'tt0264616': 781, 'tt4136084': 1271, 'tt3110958': 2497, 'tt0458352': 1597, 'tt0119654': 1300, 'tt0489018': 1851, 'tt0061811': 820, 'tt2488496': 2396, 'tt1843287': 319, 'tt0095953': 1222, 'tt0443706': 1804, 'tt1298650': 2491, 'tt1019452': 1144, 'tt0417741': 1431, 'tt0317740': 2162, 'tt0095250': 1746, 'tt2675914': 1108, 'tt0913425': 855, 'tt0454876': 1241, 'tt0079182': 370, 'tt0080455': 2202, 'tt2058673': 2369, 'tt0975645': 1200, 'tt4034354': 1237, 'tt0942385': 2365, 'tt0072684': 762, 'tt0103292': 1094, 'tt0059592': 333, 'tt0289879': 1654, 'tt0387877': 955, 'tt0119314': 2244, 'tt7055592': 2457, 'tt2872732': 1795, 'tt1135952': 844, 'tt0118842': 931, 'tt0432021': 1851, 'tt0325980': 2670, 'tt0120255': 473, 'tt0111280': 1507, 'tt0986233': 424, 'tt1659337': 1447, 'tt0117381': 2034, 'tt1454468': 370, 'tt1029360': 1242, 'tt0062622': 645, 'tt1440728': 767, 'tt0758730': 1663, 'tt0780653': 1478, 'tt0209463': 236, 'tt0947798': 1568, 'tt0113101': 1086, 'tt0091867': 981, 'tt0105236': 645, 'tt0457297': 1180, 'tt0974661': 1571, 'tt0118971': 2180, 'tt1646987': 1726, 'tt0092699': 1191, 'tt0099674': 1386, 'tt0275719': 1237, 'tt0097216': 827, 'tt2381249': 2808, 'tt0903624': 2967, 'tt1229822': 1129, 'tt1244754': 1151, 'tt0070849': 668, 'tt0790686': 1468, 'tt0378194': 1232, 'tt1174732': 1101, 'tt2381991': 1286, 'tt0070379': 843, 'tt2911666': 1112, 'tt0377713': 924, 'tt0118689': 1308, 'tt0110912': 1157, 'tt0088170': 1115, 'tt1318514': 1816, 'tt0372784': 3001, 'tt0119303': 1981, 'tt0107617': 427, 'tt0190590': 1101, 'tt1399103': 2873, 'tt2404435': 2825, 'tt0121766': 2231, 'tt1462758': 905, 'tt0167261': 3721, 'tt2334873': 454, 'tt1148204': 2591, 'tt1201607': 1449, 'tt0088847': 1363, 'tt0096754': 1874, 'tt1401152': 2157, 'tt0322259': 2470, 'tt0351977': 1534, 'tt0810819': 1297, 'tt0088944': 1843, 'tt0048605': 260, 'tt0049470': 996, 'tt0479884': 1828, 'tt0110167': 1127, 'tt0418279': 2963, 'tt0385004': 1790, 'tt0455760': 1580, 'tt1341167': 1712, 'tt2788732': 1441, 'tt3707106': 779, 'tt0110148': 1145, 'tt0171363': 1245, 'tt0140352': 1877, 'tt0045537': 284, 'tt3659786': 964, 'tt0079417': 922, 'tt1692486': 699, 'tt0780571': 1365, 'tt1533117': 3552, 'tt1675434': 1373, 'tt1033575': 789, 'tt0362227': 977, 'tt0993842': 1716, 'tt2582802': 1139, 'tt0473705': 1753, 'tt0048545': 837, 'tt0112883': 844, 'tt0083946': 610, 'tt0470752': 893, 'tt0110201': 1412, 'tt4786282': 1177, 'tt3421514': 1882, 'tt0077651': 620, 'tt0824758': 1277, 'tt0102492': 1064, 'tt1375670': 2011, 'tt0458413': 972, 'tt0073629': 1080, 'tt0780504': 824, 'tt0096895': 1724, 'tt0145487': 2031, 'tt0112818': 1022, 'tt1179031': 1420, 'tt1568346': 2134, 'tt0454848': 1641, 'tt0450385': 2144, 'tt0110932': 1647, 'tt2058107': 830, 'tt0099810': 1263, 'tt0095497': 1229, 'tt0361748': 1448, 'tt0493464': 2321, 'tt1611840': 1159, 'tt0075148': 897, 'tt0460989': 530, 'tt1124037': 1551, 'tt1217613': 2620, 'tt0118929': 2522, 'tt0084390': 398, 'tt0120890': 1151, 'tt0163025': 1471, 'tt0371724': 1701, 'tt0217505': 1805, 'tt1602613': 643, 'tt3296658': 294, 'tt1205489': 1381, 'tt0166924': 1295, 'tt0227445': 1189, 'tt0117500': 3034, 'tt0143145': 2520, 'tt0166896': 752, 'tt0118883': 1704, 'tt0331811': 1229, 'tt0089853': 384, 'tt0280609': 1441, 'tt0049833': 1089, 'tt4008652': 774, 'tt1742683': 1089, 'tt1027718': 1016, 'tt0059043': 706, 'tt0419887': 1979, 'tt0360486': 1527, 'tt1907668': 1008, 'tt0315327': 1383, 'tt0091251': 508, 'tt0088247': 1851, 'tt0330373': 1978, 'tt1615147': 896, 'tt0100935': 960, 'tt0368933': 1345, 'tt0160127': 1536, 'tt0118799': 1142, 'tt1586752': 2051, 'tt4647900': 1526, 'tt3808342': 173, 'tt0120812': 1661, 'tt0118715': 1070, 'tt0104691': 1458, 'tt2109184': 349, 'tt0337921': 1242, 'tt0053579': 999, 'tt3882082': 1080, 'tt0199354': 704, 'tt1074638': 2126, 'tt0118749': 919, 'tt0393109': 1285, 'tt0097428': 1258, 'tt0499448': 2278, 'tt2032557': 1408, 'tt2908856': 756, 'tt1099212': 1764, 'tt0119670': 1383, 'tt0258463': 1747, 'tt0119349': 968, 'tt0110322': 1875, 'tt0162661': 2198, 'tt0208092': 1481, 'tt1895587': 1068, 'tt0096320': 1138, 'tt0078908': 791, 'tt3062096': 3007, 'tt0418819': 1531, 'tt0104036': 799, 'tt0181689': 1502, 'tt1628841': 1935, 'tt0061781': 660, 'tt0094761': 1201, 'tt0084726': 1022, 'tt0120483': 1549, 'tt0060522': 871, 'tt0308476': 427, 'tt0758774': 1948, 'tt0120616': 2233, 'tt0434409': 2288, 'tt0069467': 338, 'tt1431045': 2040, 'tt1855325': 1775, 'tt2070649': 1511, 'tt0468569': 2578, 'tt7131870': 3565, 'tt0430357': 1770, 'tt1386932': 2454, 'tt0086856': 1425, 'tt0219822': 1238, 'tt2366450': 976, 'tt0390022': 3265, 'tt0182789': 1354, 'tt5726086': 1464, 'tt0120669': 1048, 'tt0844347': 771, 'tt1086772': 2092, 'tt0119094': 3014, 'tt1068649': 646, 'tt1057500': 1795, 'tt0056923': 1236, 'tt0286106': 639, 'tt1216496': 670, 'tt0105226': 1082, 'tt0213149': 3582, 'tt0144084': 963, 'tt0137439': 448, 'tt0091369': 1415, 'tt1285016': 2204, 'tt0993846': 2360, 'tt1396218': 1332, 'tt0090022': 1310, 'tt2823054': 2321, 'tt1092026': 1791, 'tt0142688': 1021, 'tt1570728': 1681, 'tt0250494': 1431, 'tt6190198': 1130, 'tt0104466': 285, 'tt0120738': 2243, 'tt1229340': 2527, 'tt1001508': 1195, 'tt0101410': 1041, 'tt0887883': 1088, 'tt2345567': 892, 'tt2294449': 2566, 'tt0050419': 423, 'tt0082089': 607, 'tt0080684': 1770, 'tt0084787': 1017, 'tt0765429': 2545, 'tt0097576': 1610, 'tt0104553': 1277, 'tt0078788': 1589, 'tt0120915': 2259, 'tt1017460': 1127, 'tt0372824': 974, 'tt0311113': 1633, 'tt2832470': 2038, 'tt1253863': 1462, 'tt1340800': 1013, 'tt0099653': 1465, 'tt0111797': 855, 'tt0061418': 1620, 'tt3700804': 616, 'tt1413492': 2359, 'tt0093748': 1108, 'tt1133985': 2227, 'tt0115798': 1159, 'tt2802144': 2455, 'tt0462200': 1364, 'tt0070735': 1079, 'tt0116629': 2540, 'tt0985694': 2174, 'tt0375063': 819, 'tt2582846': 1874, 'tt0120591': 2368, 'tt0096463': 630, 'tt0065214': 2469, 'tt0101700': 868, 'tt0826711': 134, 'tt3289956': 1507, 'tt0112740': 2114, 'tt0109831': 1082, 'tt0105695': 1616, 'tt0104797': 2073, 'tt0066249': 384, 'tt0108656': 1583, 'tt0277027': 1708, 'tt0905372': 1361, 'tt3077214': 1080, 'tt0077405': 903, 'tt0373051': 1115, 'tt1411238': 957, 'tt1596363': 1687, 'tt1068680': 1359, 'tt0120601': 1346, 'tt1757746': 1492, 'tt0379306': 1011, 'tt0317198': 1251, 'tt0324197': 384, 'tt0368891': 2431, 'tt0067185': 668, 'tt0073582': 1192, 'tt0187078': 2528, 'tt1144884': 1433, 'tt4501454': 1223, 'tt1454029': 1585, 'tt0093565': 970, 'tt0159365': 2104, 'tt1045658': 1670, 'tt3410834': 1520, 'tt0401383': 925, 'tt0397078': 1866, 'tt0086879': 2268, 'tt0075314': 889, 'tt0940709': 944, 'tt2645044': 2756, 'tt3495026': 2425, 'tt1125849': 938, 'tt0815245': 1318, 'tt0119567': 1101, 'tt4242158': 2090, 'tt0167190': 2394, 'tt1412386': 1488, 'tt0120815': 1391, 'tt0203009': 3117, 'tt0120804': 2103, 'tt0443453': 1205, 'tt0053125': 1197, 'tt0187393': 2585, 'tt0169547': 1037, 'tt2614684': 1098, 'tt0467200': 1388, 'tt0056869': 1437, 'tt0071360': 675, 'tt0074811': 667, 'tt1172049': 1182, 'tt3671542': 1113, 'tt0071129': 852, 'tt0420223': 1703, 'tt0114388': 1238, 'tt3672840': 2226, 'tt0073440': 747, 'tt1853728': 1795, 'tt1124035': 874, 'tt0058461': 978, 'tt0129387': 1182, 'tt0074119': 888, 'tt0101889': 1110, 'tt0089881': 973, 'tt4698684': 1412, 'tt0369339': 1768, 'tt1446147': 1975, 'tt0120696': 2021, 'tt0080610': 578, 'tt0088993': 1258, 'tt0082846': 756, 'tt1951266': 1022, 'tt1228705': 2348, 'tt0395169': 1384, 'tt0123755': 1063, 'tt3416744': 775, 'tt1037705': 1037, 'tt1446714': 2179, 'tt1723811': 330, 'tt0095016': 1817, 'tt5052448': 1235, 'tt0383216': 1480, 'tt6513406': 2072, 'tt0064276': 955, 'tt0407887': 2662, 'tt0110604': 1784, 'tt0080453': 1128, 'tt0988045': 2769, 'tt0266915': 1378, 'tt1439572': 737, 'tt0253474': 1212, 'tt0246578': 1278, 'tt0069995': 1144, 'tt0382625': 2778, 'tt0399295': 1724, 'tt1291150': 1791, 'tt0363771': 2973, 'tt0066026': 995, 'tt0119738': 1049, 'tt1071875': 1855, 'tt2118775': 2097, 'tt0120263': 24, 'tt2382298': 1066, 'tt0212985': 1828, 'tt2099556': 542, 'tt1670345': 2992, 'tt0251160': 1815, 'tt0065724': 837, 'tt2639344': 502, 'tt1046173': 1955, 'tt0815236': 1514, 'tt0096446': 2386, 'tt0107808': 1760, 'tt1458175': 1841, 'tt0134847': 2223, 'tt0125664': 1652, 'tt0365907': 1250, 'tt1981115': 2122, 'tt0816692': 2232, 'tt4160708': 1155, 'tt0035423': 1374, 'tt0281358': 1189, 'tt0087921': 698, 'tt1276104': 1762, 'tt1663662': 2666, 'tt0195714': 1728, 'tt3385516': 2569, 'tt0190332': 1646, 'tt3474602': 906, 'tt0102926': 1158, 'tt0758758': 1965, 'tt1000774': 2538, 'tt0468565': 1133, 'tt0210727': 793, 'tt0120780': 1599, 'tt0120382': 1397, 'tt0117666': 370, 'tt0266697': 1283, 'tt0118688': 2166, 'tt4651520': 1808, 'tt2267998': 2475, 'tt0383028': 1513, 'tt6466464': 1613, 'tt4967094': 1797, 'tt0846308': 1766, 'tt0091738': 857, 'tt0108399': 1941, 'tt1355683': 1263, 'tt0248667': 2045, 'tt0985699': 2058, 'tt0416320': 515, 'tt0120655': 2023, 'tt0122690': 1877, 'tt0111003': 1227, 'tt0107736': 266, 'tt7180392': 1872, 'tt0838232': 1855, 'tt0317919': 3161, 'tt1194173': 2708, 'tt0099423': 2430, 'tt1300851': 1650, 'tt5294550': 1453, 'tt0138097': 1787, 'tt0052357': 1101, 'tt0183649': 979, 'tt0109020': 405, 'tt1649443': 1853, 'tt0209144': 1847, 'tt1441953': 1408, 'tt0399201': 2711, 'tt0413893': 649, 'tt0103772': 1299, 'tt0119177': 1091, 'tt1190080': 2962, 'tt2078768': 1659, 'tt0102138': 2568, 'tt1468846': 973, 'tt0117060': 1537, 'tt0122933': 1195, 'tt0844286': 1495, 'tt0186151': 1913, 'tt0091042': 1365, 'tt0070246': 620, 'tt0038650': 973, 'tt0120667': 2298, 'tt0115734': 817, 'tt1725986': 1352, 'tt0133093': 2160, 'tt0450259': 1641, 'tt0084628': 1279, 'tt0117883': 1417, 'tt0167404': 672, 'tt1591095': 1339, 'tt0096256': 1147, 'tt0080958': 866, 'tt0414982': 1886, 'tt0120885': 1257, 'tt0108330': 1123, 'tt4721400': 269, 'tt3480796': 1628, 'tt0959337': 922, 'tt0199753': 1575, 'tt0120586': 1621, 'tt0120338': 2890, 'tt0898367': 1072, 'tt1219289': 1486, 'tt0077416': 1449, 'tt0477347': 1853, 'tt0134273': 1093, 'tt0120787': 1348, 'tt2923316': 1239, 'tt0100157': 1244, 'tt0283509': 821, 'tt0409459': 2766, 'tt0281686': 1119, 'tt0443272': 919, 'tt0372183': 2300, 'tt0133152': 2466, 'tt0047396': 793, 'tt0108289': 1713, 'tt0080979': 969, 'tt0117951': 1217, 'tt0116282': 760, 'tt0329101': 1662, 'tt0104348': 869, 'tt0424345': 1360, 'tt1504320': 1308, 'tt1178663': 327, 'tt1438176': 1458, 'tt0829482': 1664, 'tt0099685': 1248, 'tt1179904': 278, 'tt0408790': 1177, 'tt1655420': 1490, 'tt0090756': 896, 'tt3488710': 695, 'tt0109830': 992, 'tt0110475': 1326, 'tt1170358': 2489, 'tt0094226': 1178, 'tt0116767': 388, 'tt4052882': 1498, 'tt0121765': 2029, 'tt0061722': 449, 'tt4915672': 1809, 'tt0175880': 893, 'tt0379786': 2135, 'tt0765128': 528, 'tt0110116': 1001, 'tt6157626': 1083, 'tt1211837': 1381, 'tt0090257': 549, 'tt2103281': 906, 'tt0074749': 567, 'tt0375679': 1332, 'tt0083907': 1083, 'tt1274586': 1156, 'tt1486190': 1151, 'tt0134119': 1612, 'tt0080339': 774, 'tt0120903': 2147, 'tt0765447': 913, 'tt1979320': 2363, 'tt1119646': 1806, 'tt0848228': 2873, 'tt2115388': 1047, 'tt0079116': 814, 'tt0457939': 1919, 'tt0180073': 1320, 'tt0945513': 1443, 'tt0112462': 1928, 'tt0065988': 2423, 'tt0070047': 1124, 'tt1424381': 1586, 'tt1120985': 652, 'tt0080761': 549, 'tt0067116': 1166, 'tt0100403': 1778, 'tt0370032': 2017, 'tt0118655': 1965, 'tt2056771': 1192, 'tt0105665': 1532, 'tt3726704': 516, 'tt0079470': 885, 'tt2473794': 704, 'tt1800246': 1170, 'tt0114558': 2806, 'tt1084950': 1197, 'tt1182345': 1082, 'tt1360860': 1142, 'tt0113277': 2000, 'tt2238032': 2680, 'tt0808151': 2073, 'tt0068646': 1250, 'tt0398027': 775, 'tt0100112': 471, 'tt0092991': 1215, 'tt1747958': 1272, 'tt0448157': 2050, 'tt0089218': 1555, 'tt0119375': 881, 'tt0976051': 1288, 'tt3316960': 812, 'tt2109248': 3241, 'tt0268695': 1267, 'tt0313542': 2712, 'tt0454921': 1078, 'tt5866930': 1887, 'tt0085794': 793, 'tt0800369': 2098, 'tt1409024': 1791, 'tt0457430': 1109, 'tt0094737': 1297, 'tt0108122': 1142, 'tt0212338': 1754, 'tt0977855': 1261, 'tt0075686': 397, 'tt0092603': 738, 'tt0083987': 1849, 'tt3498820': 2957, 'tt0064040': 470, 'tt1385826': 1363, 'tt0118583': 2032, 'tt0061138': 442, 'tt0319262': 1395, 'tt0439815': 1536, 'tt0481369': 1117, 'tt3064298': 1603, 'tt0109686': 1031, 'tt0074285': 974, 'tt0090605': 2932, 'tt0234215': 2724, 'tt0107653': 944, 'tt1800241': 1434, 'tt2194499': 1605, 'tt0325710': 3003, 'tt0349903': 1036, 'tt0106332': 1147, 'tt0986263': 1558, 'tt0258000': 1961, 'tt0112769': 675, 'tt1872181': 2884, 'tt1055369': 2646, 'tt1282140': 1664, 'tt1707386': 2549, 'tt0119396': 1202, 'tt0066206': 1030, 'tt0108160': 707, 'tt0371257': 1676, 'tt0119081': 1799, 'tt1478338': 1969, 'tt0137494': 1515, 'tt0338013': 1317, 'tt2446980': 1096, 'tt0119488': 1780, 'tt0126886': 941, 'tt1013753': 895, 'tt1055292': 1895, 'tt0796366': 2270, 'tt0110074': 1170, 'tt0388795': 1040, 'tt0181875': 2445, 'tt0113243': 1293, 'tt4046784': 1932, 'tt0124315': 1177, 'tt3501416': 2102, 'tt0427954': 2229, 'tt1343092': 2841, 'tt0386588': 1828, 'tt1100089': 1120, 'tt0082198': 1416, 'tt0288477': 2081, 'tt0404978': 1087, 'tt1093906': 1271, 'tt1645170': 1804, 'tt1809398': 1289, 'tt1582248': 844, 'tt0180093': 1786, 'tt0332452': 1833, 'tt0114746': 1302, 'tt0070511': 1354, 'tt0049730': 654, 'tt0139134': 1141, 'tt0069762': 755, 'tt0264395': 2099, 'tt0299658': 2335, 'tt0958860': 1246, 'tt3824458': 915, 'tt0783233': 1027, 'tt0261392': 1738, 'tt0245844': 1362, 'tt0087332': 1233, 'tt0091355': 455, 'tt1375666': 2610, 'tt0113497': 1706, 'tt0119643': 1555, 'tt0118636': 1486, 'tt6518634': 2030, 'tt0800320': 1973, 'tt0162346': 1112, 'tt0107614': 1495, 'tt0100150': 1164, 'tt3465916': 39, 'tt0343660': 1601, 'tt6788942': 1750, 'tt1703957': 758, 'tt0107507': 291, 'tt0085991': 817, 'tt1156466': 1225, 'tt1291584': 2190, 'tt1032755': 1382, 'tt5140878': 1400, 'tt7160070': 2684, 'tt0338751': 2782, 'tt1054606': 1513, 'tt0099487': 863, 'tt0077402': 2935, 'tt0091203': 1976, 'tt0069293': 325, 'tt1041829': 1664, 'tt0119528': 1237, 'tt0964517': 1437, 'tt1535970': 1078, 'tt6644200': 784, 'tt0099348': 2476, 'tt6298600': 659, 'tt1748122': 885, 'tt0290002': 2359, 'tt5065810': 984, 'tt1974419': 819, 'tt0467406': 1098, 'tt0408306': 1263, 'tt0862846': 1155, 'tt0118548': 1412, 'tt2463288': 1751, 'tt0086190': 2178, 'tt0120689': 2398, 'tt2167266': 1223, 'tt1232829': 2313, 'tt0195685': 1395, 'tt0499549': 2724, 'tt0086837': 1311, 'tt0106226': 1074, 'tt0070291': 793, 'tt0119822': 1738, 'tt0244244': 1694, 'tt5688868': 2349, 'tt0335266': 902, 'tt0369702': 954, 'tt0427309': 1629, 'tt0425061': 2444, 'tt1016268': 1126, 'tt0480025': 1410, 'tt0970416': 1477, 'tt0120735': 1099, 'tt0285742': 862, 'tt0093010': 1079, 'tt0050706': 311, 'tt0063442': 1144, 'tt0240890': 1000, 'tt0822832': 1550, 'tt0232500': 2366, 'tt0421715': 1162, 'tt3714720': 751, 'tt0072890': 1512, 'tt0076729': 1045, 'tt0105652': 609, 'tt0457513': 361, 'tt2084970': 1553, 'tt0116996': 1533, 'tt1781769': 1408, 'tt1305806': 943, 'tt4273292': 381, 'tt0359950': 1521, 'tt1059786': 2514, 'tt0115759': 2034, 'tt0076759': 2210, 'tt2024544': 728, 'tt1045772': 1037, 'tt4939066': 2262, 'tt0319061': 1838, 'tt3439114': 1383, 'tt0079095': 596, 'tt0097372': 467, 'tt0172495': 2609, 'tt0107822': 946, 'tt0058331': 1521, 'tt6121428': 903, 'tt0318974': 2147, 'tt0159784': 1546, 'tt1010048': 2205, 'tt1029234': 1706, 'tt0341495': 1208, 'tt0071315': 529, 'tt0346094': 245, 'tt0071562': 1445, 'tt1706593': 691, 'tt0242653': 2588, 'tt1139797': 774, 'tt1306980': 1191, 'tt0116695': 2001, 'tt0079944': 142, 'tt0110632': 2196, 'tt1616195': 1568, 'tt0139654': 1872, 'tt3395184': 394, 'tt2567712': 1173, 'tt0088222': 70, 'tt0440963': 2761, 'tt1022603': 910, 'tt1158278': 726, 'tt0137523': 2357, 'tt0963966': 2593, 'tt0096874': 1420, 'tt0112573': 3096, 'tt0120660': 3459, 'tt0087182': 2016, 'tt6133130': 1586, 'tt0415380': 749, 'tt0089907': 832, 'tt0357413': 1243, 'tt1024648': 2115, 'tt0462499': 1880, 'tt0337978': 3354, 'tt0120731': 1699, 'tt0127536': 1455, 'tt3860916': 970, 'tt0100802': 1891, 'tt0343818': 2101, 'tt0257360': 758, 'tt0376994': 1907, 'tt1181614': 1200, 'tt3922798': 1316, 'tt0082186': 1646, 'tt0408236': 1678, 'tt0088939': 1191, 'tt0475293': 1782, 'tt0381061': 2357, 'tt0112641': 1832, 'tt0070245': 666, 'tt1322269': 1304, 'tt1619029': 507, 'tt3630276': 275, 'tt1189340': 1494, 'tt1186367': 2135, 'tt1602620': 233, 'tt1073498': 1714, 'tt0120902': 1698, 'tt0963794': 1280,

In [48]:
label_dict = {}
for vid,scenes in scene_pickle.items():
    if vid not in shot_num.keys(): continue
    first_shots = set([scene.shot[0] for scene in scenes] + [scene.shot[1] for scene in scenes])
    labels = [1 if i in first_shots else 0 for i in range(shot_num[vid])]
    label_dict[vid]=labels

In [49]:
len(label_dict)

318

In [ ]:
pd.to_pickle(label_dict, 'data/MovieNet/label_dict.pkl')

# OVSD

## 制作label_dict.pkl

In [ ]:
from tqdm import tqdm
import pandas as pd, os, numpy as np


join_path = lambda *p: os.path.join('/data/shared_dataset/OVSD', *p)
anno = pd.read_pickle(join_path('scene_annotation.pkl'))
shot_bound = pd.read_pickle(join_path('shot_annotation.pkl'))


# Nearest neighbor matching
label_dict = {vid:[] for vid in anno.keys()}
for vid in tqdm(anno.keys()):
    fixed_bounds = set()
    scene_boundaries = np.array(sorted(set(anno[vid][:,0])))
    shot_boundaries = np.array(shot_bound[vid][:,0])
    for shid, shb in enumerate(shot_boundaries):
        # Pair by distance
        sc = np.argmin(np.abs(scene_boundaries-shb))
        sh = np.argmin(np.abs(shot_boundaries-scene_boundaries[sc]))
        label_dict[vid].append(int(shid == sh))

pd.to_pickle(label_dict, 'data/OVSD/label_dict.pkl')